body {
  display: flex;
  flex-direction: row;
}

body > aside {
  background: white;
  flex-grow: 1;
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
  min-width: 15vw;
}

aside #logo {
  margin-bottom: 70px;
}

aside > p {
  width: 70%;
  text-align: left;
}

aside > p > a {
  display: block;
}

nav > p {
  width: 100%;
}

#Logout {
  position: relative;
  top: 38%;
}

#num_of_students {
  width: 70px;
}

.view {
  font-size: 18px;
  line-height: 23px;
  color: #707070;
}

label {
  font-size: 18px !important;
  font-weight: 500;
  line-height: 23px;
  color: #8a8a8a !important;
}

table {
  width: 100%;
  margin-right: 30px;
}

th {
  text-align: left;
  color: #a9a9a9;
}

th,
td {
  padding: 44px 44px 44px 0;
}

#space {
  margin-right: 20px;
}

#status-cancelled {
  color: #fc4040;
}
#status-success {
  color: #00c113;
}
nav {
  text-align: right;
  margin-bottom: 30px;
}

main {
  margin-left: 30px;

  flex-grow: 8;
}

#timeStart::after {
  content: "-";
}
